<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>JmsTestServlet</servlet-name>
        <servlet-class>com.dhenton9000.jms.test.JmsTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JmsSenderServlet</servlet-name>
        <servlet-class>com.dhenton9000.jms.test.JmsSenderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JmsTestServlet</servlet-name>
        <url-pattern>/JmsTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JmsSenderServlet</servlet-name>
        <url-pattern>/JmsSenderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jms/ConnectionFactory</res-ref-name>
        <res-type>javax.jms.ConnectionFactory</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jms/TomcatQueue</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
