
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('imgs/mypicks/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('imgs/mypicks/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('imgs/mypicks/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('imgs/mypicks/error.png');
}

 
.tooltipZZZ{
    margin:8px;
    padding:8px;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('imgs/mypicks/error.png');
    position: absolute;
    z-index: 2;
}
.tooltip {
    color: #D8000C;
    margin:8px;
    padding:8px;
    cursor:pointer;
    border: red thick solid;
    background-color: #FFBABA;
    position: absolute;
    z-index: 2;
}