<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>logback-test</contextName>
    <property name="logback.home" value="." />
    <!-- can use file= above to point to a properties file -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="FILE2" class="ch.qos.logback.core.FileAppender">
        <file>file2.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <!--
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
		name="FILE1">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <file>${logback.home}/file1.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback.home}/file1-%d{yyyy-MM-dd}.gz
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss},%p,%c,%t,%ex %m%n</pattern>
        </encoder>
    </appender>
    -->

        <logger name="com.dhenton9000">
		 <level value="DEBUG" />
		 
	</logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE2" />
    </root>
</configuration>