<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="file:src/hibernate.cfg.xml">
		</property>
	</bean>
	<bean id="EmployeeDAO"
		class="com.dhenton9000.classiccars.generated.EmployeeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OfficeDAO"
		class="com.dhenton9000.classiccars.generated.OfficeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CustomerDAO"
		class="com.dhenton9000.classiccars.generated.CustomerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		
	</bean>
	<bean id="PaymentDAO"
		class="com.dhenton9000.classiccars.generated.PaymentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OrderdetailDAO"
		class="com.dhenton9000.classiccars.generated.OrderdetailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ProductDAO"
		class="com.dhenton9000.classiccars.generated.ProductDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PurchaseorderDAO"
		class="com.dhenton9000.classiccars.dao.ExtPurchaseorderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>