<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>/home/dhenton/maven/localrepos</localRepository>
  
    <pluginGroups>
        <pluginGroup>org.mule.tools</pluginGroup>
    </pluginGroups>
 
  <profiles>
    <profile>
      <id>neo4j</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>neo4j-release-repository</id>
          <name>Neo4j Maven 2 release repository</name>
          <url>http://m2.neo4j.org/content/repositories/releases</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>neo4j-snapshot-repository</id>
          <name>Neo4j Maven 2 snapshot repository</name>
          <url>http://m2.neo4j.org/content/repositories/snapshots</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </repository>
      </repositories>
    </profile>
    <profile>
       <id>defaultProfile</id>
       <activation>
         <activeByDefault>true</activeByDefault>
       </activation>

       <repositories>
         <repository>
           <id>maven central</id>
           <url>http://repo1.maven.org/maven2/</url>
           <snapshots>
             <enabled>true</enabled>
           </snapshots>
           <releases>
             <enabled>true</enabled>
           </releases>
         </repository>
       </repositories>
    </profile>
  </profiles>
</settings> 
