<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml"/>
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

     <jaxws:endpoint id="inventoryServiceBean"
      xmlns:srv="http://dhenton9000.inventory/inventoryService/wsdl" 
      serviceName="srv:inventoryService" 
      implementor="com.dhenton9000.inventory.service.InventoryServiceImpl"
      address="/inventoryService">
      <jaxws:schemaLocations>
              <jaxws:schemaLocation>/WEB-INF/wsdl/InventoryProcessExploded.xsd</jaxws:schemaLocation>
          </jaxws:schemaLocations>
      </jaxws:endpoint>

<!-- http://localhost:8080/basicWSWeb/services/inventoryService?wsdl
  if you take out the xmlns:srv and serviceName elements the xsd is an include else
  its inline
 -->
 
</beans>
