package $packageName;


public class $utility.proper($item.Name) {

#foreach($prop in $item.properties)
private String  $utility.nameify($prop)  = null;
#end

#foreach($prop in $item.properties)

  public String get$prop() {
    return this.$utility.nameify($prop);
  }	
  
  public void set$prop(String $utility.nameify($prop)) {
    this.$utility.nameify($prop) = $utility.nameify($prop) ;
  }	


#end
}