.headerClass {
	width: 10em;
	border-style: solid;
	border-width: 1px;
	border-color: #cff #69c #69c #cff;
	background: #9cf;
	padding: 2px 10px;
}

.odd {
	background: #ccc;
}

.even {
	background: #cc9;
}

.tableClass {
	width: 98%;
	background: #3C7C88;
	background-color: #3C7C88;
}