<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
   
<bean id="randomBean"   class="com.dhenton9000.factorydemo.RandomFactory"  
factory-method="createMyClass">
 <!--  goes to the factory method -->
  <constructor-arg value="12345"/>
  <!-- goes to the created object from the factory method -->
  <property name="message" value="Hello, " />
</bean>

    
</beans>
