<?xml version="1.0" encoding="UTF-8"?>

<!--  this is loaded via contextloaderlistener in web.xml -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
<!-- qualifier doesn't seem to work so will use REST resource beans here
    eg mySpringResource. this is possible because of the listeners in the web.xml file
    
    <context:annotation-config />
    <context:component-scan base-package="com.dhenton9000"/>
    -->

   <import resource="dataContext.xml" />
   <bean id="jobBean" class="com.dhenton9000.jersey.rs.security.prelim.WireClass">
        <property name="message" value="get a job,bozo" />
    </bean>

    <bean id="textBean" class="com.dhenton9000.jersey.rs.security.prelim.WireClass">
        <property name="message" value="text message" />
    </bean>
    
    <bean id="mySpringResource" class="com.dhenton9000.jersey.rs.MySpringResource">
        <property name="wireClass" ref="jobBean" />
        <property name="appDAO" ref="applicationsDAO" />
    </bean>
    
      <bean id="userDaoResource" class="com.dhenton9000.jersey.rs.UserDaoResource">
          <property name="userDAO" ref="usersDAO" />
    </bean>
    
           
</beans>
