<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.sourceforge.net" xml:lang="cs" lang="cs">
<wicket:panel>

		<div class="wicket-modal" wicket:id="idWindow" style="top: 10px; left: 10px; width: 100px;"><form style="background-color:transparent;padding:0px;margin:0px;border-width:0px;position:static">
			<div wicket:id="idClassElement">
				
				<div class="w_top_1">

				<div class="w_topLeft" wicket:id="idTopLeft">
				</div>				

				<div class="w_topRight" wicket:id="idTopRight">
				</div>

				<div class="w_top" wicket:id="idTop">									
				</div>
				
				</div>
								
				<div class="w_left" wicket:id="idLeft">
					<div class="w_right_1">
						<div class="w_right" wicket:id="idRight">
							<div class="w_content_1" onmousedown="if (Wicket.Browser.isSafari()) { event.ignore = true; }  else { Wicket.stopEvent(event); } ">																			
								<div class="w_caption"  id="idCaption">
									<a class="w_close" href="#"></a>									
									<span wicket:id="idCaptionText" class="w_captionText"></span>
								</div>
							
								<div class="w_content_2">
								<div class="w_content_3">
		 							<div class="w_content">
										<div wicket:id="idContent"></div>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="w_bottom_1" wicket:id="idBottom">					
					
					<div class="w_bottomRight"  wicket:id="idBottomRight">
					</div>
					
					<div class="w_bottomLeft" wicket:id="idBottomLeft">
					</div>

					<div class="w_bottom" wicket:id="idBottom">		
					</div>				


				</div>			


			</div>
		</form></div>
		
</wicket:panel>
</html>		