div.menuLeft {
	border: thin solid lightGray;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 98%;
	background: #eeeeee;
	padding: 0px 5px 5px 0px;
	margin: 0px 5px 5px 0px;
}

div.contentDiv {
	position: absolute;
	width: 100%;
	top: 30px;
	left: 5px;
	padding: 2px;
}

span.menuLink {
	font-size: 12px; spacing 2px;
	font-weight: bold;
	font-variant:small-caps;
	padding: 5px  5px 5px 5px;
}

.v1 {
	vertical-align: top;
}

.mainGridStyle
{
    border: thin solid #3333ff;
     width:98%;

}
.mainTwo
{
    border: thin solid #3333ff;
    width:35%;
    vertical-align: top;

}
.mainOne
{
     
    width:65%;
    vertical-align: top;

}


div.jsfAjaxDiv
{
	position: absolute;
	top: 40px;
	width: 98%;
	
	}
	

